<h1>New Event</h1>
   <%= form_tag '/event' do %>
   <%= label_tag :description%>
   <%= text_field_tag :description %>
   <%= label_tag :date%>
   <%= date_field_tag :date %>
   <%= submit_tag "Create"%>
<%end%>
