



<span><%= @event.description %>: by <%= @event.creator.username %></span>
<span><%= @event.date %></span>

<% if logged_in? %>
<%= button_to 'Attend', action: :attend %>
 <%end%>

<br/>

<% if @event.attendees.empty?%>
<% else %>

<h6>Who's Coming?</h6>
<ul>
<% @event.attendees.each do |person|%>
  <li><%= person.username %></li>
<%end%>
</ul>
<%end%>
