<nav class="navbar navbar-expand-lg navbar-light bg-light">
  
  <% if logged_in? %>
  <span style="padding-right: 4px;">Hi! "<%= current_user.username.upcase %>"</span>
  <%= button_to "Logout", '/login', method: "delete" %>
  <%= button_to "Create", '/event', method: :get %>
  <%= button_to "My Events", '/show', method: :get %>
  <%else%>
  <%= button_to "Login", '/login', method: :get %>
  <%= button_to "Sign Up", '/users/new', method: :get %>
  <%end%>
  
<div class="collapse navbar-collapse" id="navbarNav">
  <ul class="navbar-nav">
    <li class="nav-item active">
      <a class="nav-link" href="#">Home <span class="sr-only">(current)</span></a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="#">Features</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="#">Pricing</a>
    </li>
    <li class="nav-item">
      <a class="nav-link disabled" href="#">Disabled</a>
    </li>
  </ul>
</div>
</nav>